body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    color: #333;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: #fff;
    padding: 20px 0;
}

.logo {
    width: 50px;
    margin-left: 20px;
}

.menu-links {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 20px;
}

.menu-item {
    display: inline;
    margin: 0 15px;
}

.menu-item-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

    .menu-item-link:hover {
        color: #ff6f61;
    }

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url('img/heroback.jpg') no-repeat center center/cover;
    height: 40vh;
    color: white;
}

.hero-info {
    background-color: rgba(0,0,0,0.5);
    padding: 30px;
    border-radius: 100px;
    width: 720px;
}

.hero-title {
    font-size: 64px;
    margin: 0;
}

.hero-text {
    font-size: 24px;
    margin: 20px 0;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

.intro-title {
    font-size: 40px;
    margin-top: 20px;
}

.card {
    display: flex;
    margin: 20px 0;
    padding: 20px;
    width: 900px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.card-img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-right: 20px;
}

.card-content {
    text-align: left;
}

.card-title {
    margin-top: 0;
    color: #0073e6;
}

.card-list {
    padding: 0;
    list-style: none;
}

.card-list-item {
    margin: 10px 0;
    font-size: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;

}

.footer {
    position: relative;
    margin-top: auto;
    width: 100%;
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}


.destination-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.destinations-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}


